
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10rem;
  text-align: center;
}
body{
background-image:url("../src/img/rick-and-morty-portal-uhdpaper.com-hd-8.2001.jpg") ;
background-size: cover;
background-repeat: no-repeat ;
background-attachment: fixed;
background-position: center;

  filter: brightness(0.8); 
  filter: contrast(1.2);

}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #25222200);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #00000000);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  display: inline-block;
  padding: 10em;
}

.read-the-docs {
  color: #88888800;
}
